:root {
    --color-primary: #5287c0;
    --color-primary-light: #7fa5ce;
    --color-primary-lighter: #cde5ff;
    --color-secondary: #ffc857;
}

a {
    text-decoration: none;
    color: inherit;
}

.emphasized-anchor {
    text-decoration: underline;
    font-weight: bold;
}

.page-content {
    margin-left: 3rem;
}

h2 ~ h2 {
    margin-top: 2em;
}