@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --color-primary: #5287c0;
    --color-primary-light: #7fa5ce;
    --color-primary-light2: #b7d0ee;
    --color-primary-lighter: #cde5ff;
    --color-primary-lighterer: #e7f2ff;
    --color-primary-dark: #2d65a1;
    --color-primary-darker: #124275;
    --color-secondary: #ffc857;
    --color-secondary-light: #ffd480;
    --color-secondary-lighter: #ffeecc;
    --color-secondary-dark: #e69900;
    --color-secondary-darker: #cc8800;
    --color-secondary-darkerer: #b37700;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.emphasized-anchor {
    color: var(--color-primary-dark);
    text-decoration: underline;
    font-weight: 500;
}

.clickable {
    cursor: pointer;
}

.page-content {
    margin: 0 auto;
    width: 88%;
    padding-bottom: 2.5em;
}

section {
    margin-top: 2.25em;
}

section.ratings .lichess-id {
    color: var(--color-primary-dark);
    font-weight: 500;
    text-decoration: underline;
}
