@import "common.css";

header.game-header {
    margin-bottom: 1.5em;
}

header.game-header h2 {
    margin-bottom: 0.4em;
}

header.game-header p {
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

header.game-header .game-date::before {
    content: ", ";
}

header.game-header .game-date {
    font-weight: normal;
}

.grid-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

@media only screen and (max-width: 1100px) {
    .grid-list {
        grid-template-columns: 1fr;
    }

}

.game-item {
    background-color: var(--color-primary-lighterer);
    padding: 0.5em 1em;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.3);
    transition-property: box-shadow, background-color;
    transition-duration: 0.3s;
    user-select: none;
}

.event-item {
    background-color: var(--color-secondary-light);
}

.game-item:hover {
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.52);
    box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.52);
    background-color: var(--color-primary-lighter);
}

.event-item:hover {
    background-color: var(--color-secondary);
}

.game-item .game-header {
    font-size: 1.15em;
    margin-bottom: 0.9em;
}

.game-item p {
    margin: 0.2em;
}

.game-item .game-date::before {
    content: ", ";
}