.pgn-export-tool-button {
    display: inline-block;
    margin-top: 1.5em;
    background-color: var(--color-primary-lighter);
    cursor: pointer;
    padding: 0.3em 1em;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
    transition-timing-function: ease;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.pgn-export-tool-button:hover {
    background-color: var(--color-primary-light)
}